* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: rgb(231, 182, 126);
    background-image: url('./src/background.png'); // Dodanie obrazka jako tło
    background-size: cover; // Obrazek dopasowuje się do całego ekranu
    background-position: center; // Obrazek wyśrodkowany
}


nav { 
    background-color: rgb(255, 136, 0);
    height: fit-content;
    position: sticky; // Makes the nav stick to the top of the page
    display: flex;
    align-items: center;  
    justify-content: space-between; // Rozkłada elementy na całą szerokość
    padding: 10px 2vw; // Daje trochę przestrzeni w lewo i prawo


    div {
        width: 95%;
        padding: 10px 2vw; // Padding around the div

        ul {
            display: flex;
            list-style-type: none; // Remove bullet points

            .ikonka {
                display: flex;
                margin-right: auto;
                align-items: center;
                height: 50px;

                img{
                    height: 50px;
                    border-radius: 50px;
                }
        
                .name {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                    margin-left: 15px;
                }

                
            }

            .rest {
                display: flex;
                align-items: center;

                input {
                    background-color: blanchedalmond;
                    border: none;
                    border-radius: 8px;
                    padding: 7px;
                    min-width: 500px;
                    text-align: center;
                    margin-right: 30vw;
                }

                button {
                    background-color: blanchedalmond;
                    border: none;
                    border-radius: 8px;
                    margin-left: 20px;
                    padding: 7px;
                }

                .login {
                    border-radius: 20px;
                    padding: 15px;
                }
            }
                
        }
    }
}

.feed {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 0;
    width: 80%;

    .feed-item { 
        background-color: rgb(202, 98, 1);
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgb(255, 102, 0);
        display: grid;
        padding: 20px 0;
        width: 100%;
        align-items: center;
        grid-template-columns: 4% 36% 56% 4%;
        grid-template-rows: 2% 28% 40% 20% 10%; 
        margin-bottom: 50px;

        img {
            height: 400px;
            justify-self: center;
            width: 350px;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            margin-top: 50px;
        }

        .rating {
            color: #ffcc00;
            font-size: 20px;
            grid-column: 2;
            grid-row: 5;
            justify-self: center;
        }

        h3 {
            color: white;
            font-size: 25px;
            margin: 0;
            grid-column: 3;
            grid-row: 1;
        }

        p {                      
            color: white;
            font-size: 18px;
            grid-column: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }

        button {
            background-color: blanchedalmond;
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            padding: 5px 20px;
            grid-row: 5;
            grid-column: 3;
            justify-self: end;

            &:hover {
                background-color: #a19994;
            }
        }                   
    }
}



.beender {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(218, 69, 151, 0.9);
    border-radius: 50px;
    font-weight: bold;
    width: 86px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: none;

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}
